<%= error_messages_for 'task' %>
<h1><%= @task.new_record? ? t(:new_task) : t(:edit_task) %></h1>

<div class='edit_task'>
  <%= render :partial => 'form_left_col', :locals => {:task => @task} %>
  <%= render :partial => 'form_right_col', :locals => {:task => @task } %>
</div>

