.loading {
  z-index: 1000;
  position:absolute;
  right: 10px;
  top: 10px;
  width:70px;
  height:20px;
  color: white;
  padding:6px;
  display: none; 
}

.tip {
  position:absolute;
  top:250px;
  left:250px;
  visibility:hidden;
  max-width:600px;
}
