/* CSS Document */

* {
	margin:0;
	padding:0
}
/* mac hide \*/
html, body {
	height:100%;
	width:100%;
}
/* end hide */
body {
	text-align:center;
	min-height:560px;/* for ie7*/
}
#xouter {
	height:100%;
	width:100%;
	display:table;
	vertical-align:middle;
}
#xcontainer {
	text-align: center;
	position:relative;
	vertical-align:middle;
	display:table-cell;
	height: 560px;
}
#xinner {
	width: 600px;
	height: 560px;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	
}
/*/////////*/
body{
	
	
}
#xouter{
background: url(/images/login/bg.jpg) center center no-repeat #000;
	
}
#login{
	font-family: Arial;
	font-size: 12px;
	text-align: center;
	position: relative;
	width: 339px;
	/*border: 1px solid #fff;*/
	margin: auto;
	height: 560px;
}

.notice_msg {
  padding-top : 3px;
  padding-bottom: 9px;
}

.notice_msg span {
  font-size : 16px;
  font-weight: bold;
  color : #FDFF0F;
}

#fields{
	text-align: left;
	background: url(/images/login/bg_login.png) top center no-repeat;
	height: 185px;
	padding: 20px 0 0 38px;
}

.logo{
	margin-top: 100px;
}

.username, .password{
	width: 260px;
	height: 30px;
	font-size: 20px;
	border: 1px solid #d4d4d4;
	margin: 5px 0 0 0;
}

label{
	font-weight: bold;
	color: #353535;
}
label a{
	color: grey;
}
#fields span{
	font-size: 11px;
	color: #353535;
}
.submit{
	float: right;
	margin: 0 40px 0 0;
	background: url(/images/login/btn.png) no-repeat;
	border: none;
	width: 125px;
	height: 37px;
	color: #fff;
	font-size: 13px;
	padding: 0 0 2px 0;	
}
