.widget {
  padding-bottom : 7px;
}

.widget_col_delimiter {
  border: 1px dashed gray;
  margin: 2px 2px 2px 2px;
}

.widget_ghost {
  background: #FFF;
  opacity: 0.5;
  filter: alpha(opacity=50);
  position: relative;
  border: 3px dashed #F00;
}

.widget_large {
  width: 98%;
}

.widget_small {
    /*margin-top:24px;*/
    float:left;
    width:49%;
}

    /*L'entête du widget*/

    .widget_title {
			border:1px solid #c6c6c6;
			background:url(../../images/general/img_co_bg-widget-header.jpg) repeat-x left bottom;
			color:#464646;
			font-size:1.42em;
			padding:2px 5px 2px 5px;
    }
    
        .widget_title .name{
            font-weight:bold;
        }
        
        .widget_title .type{
            margin-right:3px;
        }
        
        .widget_title img {
            vertical-align:middle;
        }

        .widget_title .header_icons {
          float:right;
        }

        .widget_title .header_icons a {
          opacity: 0.3;
          filter : alpha(opacity=30);
        }

        .widget_title .header_icons a:hover {
          opacity : 1.0;
          filter: alpha(opacity=100);
        }

        
          .widget_title .header_icons img {
            margin:0 4px 0 2px;
          }
        
    
    .widget_small_2 .task_entry, .widget_small_2 .widget_title {
        margin-left:10px;
    }
    
    .widget_small_1 .task_entry, .widget_small_1 .widget_title {
        margin-right:10px;
    }

    .widget_small_4 .task_entry, .widget_small_4 .widget_title {
        margin-left:10px;
    }
    
    .widget_small_3 .task_entry, .widget_small_3 .widget_title {
        margin-right:10px;
    }
        
        
        .widget_small .task_entry .col_entry_task {
            width:83%;
        }
            
        .widget_small .task_entry .col_entry_tools {
          width:17%;
        }
        
/**
  *Hack CSS pour Safari 3.0 et Chrome
  */

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .task_entry .col_entry_time_task .entry_project {
		padding-top:3px;
	}
}
