<!-- old stuff -->
<div style="float:right;display:none;" class="widget-menu">
  <a href="#" onclick="jQuery.getScript(\'/widgets/edit/<%=@widget.id%>\'); return false;;">
    <img src="/images/configure.png" border="0"/>
  </a>
  <a href="#" onclick="if( confirm(\'Really delete widget?\') ){jQuery.getScript(\'/widgets/destroy/<%=@widget.id%>\'); return false; }">
    <img src="/images/delete.png" border="0"/>
  </a>
</div>

<div>
  <%= link_to_remote("&nbsp;", {:url => { :controller => 'widgets', :action => 'toggle_display', :id => widget.id },
                     :loading => "showProgress();", :complete => "hideProgress();" },
                     { :class => (widget.collapsed? ? "widget-collapsed" : "widget-open"), :id => "indicator-#{widget.dom_id}" }).gsub(/'/,'\\\\\'') %>
  <%= render(:partial => "widgets/widget_#{widget.widget_type}_header").gsub(/'/,'\\\\\'').split(/\n/).join %>
</div>
