$CONFIG = {
	:domain => "lan.org",  # The client specific hostname will be prepended to this domain
	:email_domain => "lan.org",
	:replyto => "gregory",  # Note that this is not a full email address, just the part before the @
	:from => "gregory",  # Note that this is not a full email address, just the part before the @
	:prefix => "[ClockingIT]",
	:productName => "ClockingIT",
	:SSL => false
}

ActionMailer::Base.smtp_settings = {
  :address  => "localhost",
  :port  => 25,
  :domain  => 'giffy'
}

# Setup email notification of errors
ExceptionNotifier.exception_recipients = [ "gregory@sys-tech.net" ]
ExceptionNotifier.sender_address = [ "gregory@giffy" ]
ExceptionNotifier.sections << 'cit'
