<div id="search">
  <% form_tag( {:controller => 'search', :action => 'search'}, :method => 'get') do %>
    <%= text_field_tag 'query', '', :class => 'search_input' %>
    <%= submit_tag '', :class => 'search_submit' %>
  <% end %>
</div>
