<%
  worked = WorkLog.find(:all, :select => "(SUM(work_logs.duration) - SUM(work_logs.paused_duration)) as total_duration", 
                        :conditions => ["work_logs.started_at >= ? and work_logs.user_id = ? and work_logs.duration > 0", current_user.company.last_payperiod_date, current_user.id]
      ).first.attributes['total_duration'].to_i

  total = current_user.work_hours * 60 * 60
  left = total - worked
  left -= @current_sheet.duration if @current_sheet
%>
<span class="text"><%= t(:time_left) %></span>
<span class="remind"><%= format_duration(left) %></span>
<span class="text"><%= t(:to_work) %></span>
