<%= stylesheet_link_tag 'general' %>

<div id="top">
  <div id="row_1">
    <div id="logo">
      <%= image_tag 'img_co_logo' :title => "SYS-TECH Technologies de l'information libres"  %>
    </div>
    <%= render :partial => 'layouts/sheet_info' %>
