<div id="tabs">
  <ul>
    <% menu = []
    menu << [:tutorial, {:controller => 'activites', :action => 'welcome'}] unless current_user.seen_welcome
    menu << [:overview, {:controller => 'activities', :action => 'list'}, [[:add_widget, {:controller => 'widget', :action => 'add'}]] ]
    menu << [:tasks, {:controller => 'tasks', :action => 'list'}]
    menu << [:add_task, {:controller => 'tasks', :action => 'new'}]
    menu << [:timeline, {:controller => 'timeline', :action => 'list'}] if current_user.option_tracktime
    menu << [:reports, {:controller => 'reports', :action => 'list'}] if current_user.option_tracktime and current_user.can_any?(current_user.projects, 'report')
    menu << [:wiki, {:controller => 'wiki', :action => 'show'}] if current_user.company.show_wiki?
    menu << [:chat, {:controller => 'shout', :action => 'list'}] if current_user.company.show_chat?
    menu << [:forums, forum_path] if current_user.company.show_forum?
    menu << [:files, {:controller => 'project_list', :action => 'list'}]
    menu << [:projects, {:controller => 'projects', :action => 'list'}, [[:add_project, {:controller => 'projects', :action => 'new'}]] ]
    menu << [:resources, resources_path] if current_user.use_resources?
    %>

    <% menu.each do |name, path_link, sub_menus| %>
      <li <%="class='select'" if controller.controller_name == path_link[:controller] or 
      (sub_menus and !sub_menus.select{ |s| controller.controller_name == s.last[:controller] }.empty? ) %>>
        <%= link_to t(name).capitalize, path_link %>
      </li>
      <!-- Add drop-down menu code here, probably -->
    <% end %>
  </ul>
</div>
